In [9]:
#안녕하세요 교수님
#24석사 유기봉_2024101431 입니다.

# Exercise 1 (Types): Your First Program

print ('hello python!') #shift+enter 를 사용하여 실행했습니다.

hello python!

In [8]:
# Exercise 2 (Types): Get the object type
type (12.0)

float

In [10]:
# Exercise 3 (Types): Types

type (6/2)

float

In [6]:
type (6//2)  # 정수로 표현할때에는 나누기가 두 개 들어감

int

In [12]:
# Exercise 4 (Types): Expression
160/6

26.666666666666668

In [13]:
160//6

26

In [17]:
#5 Exercise 5 (Types): Expression and Variables in Python
x = 3 + 2 * 2
x

7

In [16]:
y = (3 + 2) * 2
y

10

In [19]:
z= x+y
z

17